#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.header {
  background-color: #443131; /* Цвет фона */
  padding: 20px; /* Внутренний отступ */
  display: flex; /* Включаем Flexbox */
  align-items: center; /* Вертикальное выравнивание по центру */
  position: fixed; /* Закрепляем header наверху */
  left: 0; /* Закрепляет левый край header в начале страницы */
  top: 0; /* Отступ сверху */
  width: 100%; /* Ширина на всю страницу */
  height: 80px; /* Фиксированная высота 80 пикселей */
  z-index: 1000; /* Уровень слоя, чтобы header был поверх других элементов */
}

.header_buttons_wrapper {
  display: flex; /* Горизонтальное выравнивание элементов списка */
  list-style-type: none; /* Убираем маркеры списка */
  padding: 0; /* Убираем внутренние отступы */
  margin: 0; /* Убираем внешние отступы */
  margin-left: 40px;
}

.header_buttons_wrapper li {
  margin-right: 20px; /* Отступ между элементами списка */
  color: white; /* Цвет текста элементов списка для контраста */
  display: flex;
  align-items: center; /* Вертикальное выравнивание элементов внутри списка */
}

.login_button {
  right: 20px; /* Сдвигаем кнопку вправо НЕ РАБОТАЕТ */
}

.movie {
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  padding: 20px;
  margin: 10px;
  width: 200px; /* Фиксированная ширина */
  height: 300px; /* Фиксированная высота */
  color: white; /* Изменяем цвет текста */
}

.mainHome{
  margin-top: 100px;
  align-items: center;
}

.movie_list {
  background-color: #443131;
  padding: 20px; /* Добавьте отступы, чтобы элементы не прижимались к краям */
}