#root {
    align-items: center;
    max-width: 80vw;
    margin: 0 auto;
    padding: 2rem;
}

.header {
    background-color: #443131; /* Цвет фона */
    padding: 20px; /* Внутренний отступ */
    display: flex; /* Включаем Flexbox */
    align-items: center; /* Вертикальное выравнивание по центру */
    position: fixed; /* Закрепляем header наверху */
    left: 0; /* Закрепляет левый край header в начале страницы */
    top: 0; /* Отступ сверху */
    width: 100%; /* Ширина на всю страницу */
    height: 80px; /* Фиксированная высота 80 пикселей */
    z-index: 1000; /* Уровень слоя, чтобы header был поверх других элементов */
}

.header_buttons_wrapper {
    display: flex; /* Горизонтальное выравнивание элементов списка */
    list-style-type: none; /* Убираем маркеры списка */
    padding: 0; /* Убираем внутренние отступы */
    margin: 0; /* Убираем внешние отступы */
    margin-left: 40px;
}

.header_buttons_wrapper li {
    margin-right: 20px; /* Отступ между элементами списка */
    color: white; /* Цвет текста элементов списка для контраста */
    display: flex;
    align-items: center; /* Вертикальное выравнивание элементов внутри списка */
}

.login_button {
    right: 20px; /* Сдвигаем кнопку вправо НЕ РАБОТАЕТ */
}

.mainHome{
    margin-top: 100px;
    align-items: center;
}

.movie_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #443131;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.movie {
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.3);
    background-color: hsl(0, 16%, 20%);
    padding: 20px;
    margin: 10px;
    width: 200px; /* Фиксированная ширина */
    height: 300px; /* Фиксированная высота */
    color: white; /* Изменяем цвет текста */
}

.movie:hover {
    transform: translate(-3px, -3px); /* Shift to the upper left corner */
    box-shadow: 10px 10px 10px hsla(0, 0%, 0%, 0.6);
    transition: .5s ease;
}

.movie_item {
    flex: 1 1 200px; /* Устанавливает минимальную ширину элемента */
    margin: 0px; /* Отступы между элементами */
    box-sizing: border-box; /* Учитывает отступы в ширине */
    /* background-color: #443131; */
}

.movie h2 {
    text-align: center;
}

/* DETAILED MOVIE PART */

.detailed_movie_container {
    display: flex;
    flex-direction: column;
    background-color: #443131;
    padding: 20px;
}

.detailed_movie_description {
    font-size: 1.5rem;
    color: hsl(0, 0%, 83%);
}

.detailed_movie_description b{
    color: white;
}

.detailed_movie_container h1 {
    text-align: center;
}

